html,
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #DCDCDC;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.input-container > input {
  width: 350px;
  margin-top: 15px;
  border: none;
  height: 50px;
  font-size: 2rem;
  border: 2px dotted orange;
  border-radius: 8px;
  color: orange;
  padding: 0px 25px 0px 25px;
  background: #DCDCDC;
}

.input-container > input::placeholder{
  text-align: center;
  color: orange;
  font-size: 2rem;
}

.input-container > input:focus{
  border: 2px solid orange;
  border-radius: 8px;
  outline: none;
}

.input-container > button {
  margin-top: 15px;
  width: fit-content;
  font-size: 1.5rem;
  color: orange;
  border: 2px dotted orange;
  background: none;
  border-radius: 8px;

}

.input-container > button:hover{
  cursor: pointer;
  border: 2px solid orange;
  background: orange;
  color: white;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image:hover{
  
  transform: translateY(-25px);
}

.images{
  width: 100vw;
  margin-top: 15vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image{
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  margin: 0px 15px 15px 15px;
}

.tagline{
  width: fit-content;
  margin: auto;
  color: orange;
  font-weight: bold;
}

.image:hover{
  cursor: pointer;
}

.loading{
  color: orange;
  font-size: 1.5rem;
}